[Desktop Entry]
Type=Application
Name=TV Remote
Exec=gnome-terminal --full-screen -- /home/mike/Desktop/tv-time/tv-remote.sh
Icon=/home/mike/Desktop/tv-time/roku-controls.png
Terminal=true
Categories=Utility;
